* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.top-image {
    display: block; /* Garante que a imagem seja tratada como um bloco */
    margin-left: auto;
    margin-right: auto;
    width: 100%; /* A largura será ajustada conforme o tamanho da tela */
    max-width: 100%; /* Limita o tamanho máximo da imagem à largura da tela */
    height: auto; /* Mantém a proporção da altura conforme a largura */
}

.welcome-text {
    background-color: black;
    color: white;
    font-size: clamp(16px, 2vw, 24px); /* Tamanho mínimo: 16px, ideal: 2vw, máximo: 24px */
    text-align: center;
    width: 100%;
}

.accordion-container {
    margin: 20px;
}

.accordion {
    background-color: white;
    color: blue;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    font-size: 24px;
}

.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}

.panel p {
    color: black;
    font-size: 18px;
    margin: 10px 0;
}

